/* line.css */

/* Стиль для красной неоновой линии */
#neon-line {
    position: absolute;
    bottom: 50px; /* Расположение линии от нижней части игрового контейнера */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ширина линии относительно игрового контейнера */
    height: 4px; /* Толщина линии */
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,0.5) 50%, rgba(255,0,0,1) 100%);
    box-shadow: 0 0 10px rgba(255,0,0,0.8), 0 0 20px rgba(255,0,0,0.6);
    border-radius: 2px;
    z-index: 15; /* Убедитесь, что линия находится выше остальных элементов, кроме эффектов */
}
